
@{
    ViewBag.Title = "Booking Search";
    //Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Booking Search
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Forms</a></li>
        <li class="active">Payment</li>
    </ol>
</section>
<section class="content">
    <form action="/LMS/BookingInfo" method="get" onsubmit="return chk_form()">
        <div class="row">
            <div class="col-md-12">

                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Search</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <!-- text input -->
                        <div class="form-group">
                         
                            <input id="BID" name="BID" type="text" class="form-control" placeholder="Enter ..." required="required">
                        </div>
                       
                        <div class="box-footer clearfix">
                            @*  <a href="javascript:void(0)" class="btn btn-sm btn-success btn-flat pull-right">Confirm</a>*@
                            @*  <a href="#" class="btn btn-success btn-block"><b>Confirm</b></a>*@
                            <button type="submit" class="btn btn-success btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">Search</button>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
           
        </div>
    </form>
</section>
